.header {
    border-bottom: 1px solid #ececec;
}

.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}


.contacts {
    display: flex;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.contacts-link {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.envelope {
    margin-right: 10px;
    fill: currentColor;
}

.vector {
    margin-right: 10px;
    fill: currentColor;
}

.astronaut {
    background: #f5f4fa;
    border-radius: 4px;
}